body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
}

#start-screen {
    text-align: center;
    text-justify: center;
}

#start-button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#start-button:hover {
    background-color: #005f6b;
}
